<div class="content" role="main">
    <h1>Challenge 2iBi</h1>

    <mat-card>
        <label>O Presente projecto mostra o cumprimento do desafio para a vaga
            de densenvolvidor front-end da <b>2iBi</b> o qual foi densenvolvido
            sob a tecnologia <b>Angular</b> na sua versao: <b>Angular: 10.1.1</b>
            na qual console os dados de uma API disponibilizada no site: <a
                href="https://restcountries.eu">restcountries.eu</a>
            Densenvolvido pelo candidato <b>NELSON CHADALI</b>
        </label>
    </mat-card>
</div>